# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
.build/
*.moved-aside
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# CocoaPods
Pods/

# Build artifacts
build/

# Swift Package Manager
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
